body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #3b3b3b;
    padding: 0;
    transition: background-image 0.5s ease-in-out;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, rgba(255,252,244,1) 0%, rgba(29,29,29,1) 100%);
}

#headerMap {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(3,25,36,1) 25%, rgba(190,143,143,1) 100%);
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#logo-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex; /* Neues CSS für den Flex-Container */
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px auto; /* Abstand zwischen dem Formular und der Karte */
}

label {
    margin-bottom: 8px;
}

input {
    margin-bottom: 16px;
    padding: 8px;
}

button {
    background-color: rgb(19, 19, 19);
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #333333, #131313); /* Grauer Gradient */
    color: #fff;
    padding: 2px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

#map {
    width: 55%; /* Änderung der Breite der Karte */
    height: 500px;
    border: 5px solid #000; /* Hier kannst du die Rahmenfarbe und -breite anpassen */
}

#flask-data {
    margin-top: 20px;
    margin-left: 20px;
}

#submit {
    background-color: rgb(19, 19, 19);
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

#wintermodus_starten {
    background-color: rgb(19, 19, 19);
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin-left: 1000px;
}

#wintermodus_beenden {
    background-color: rgb(19, 19, 19);
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}