<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>GPX-Track Hauptseite</title>
</head>

<body style="background-image: url('/static/optionindex.jpg'); background-size: cover; background-repeat: no-repeat;">

    <header>
        <div id="logo-container">
            <img src="/static/option3.png" alt="Logo" id="logo">
            <span id="logo-name">GPX-Track</span>
            <button id="wintermodus_starten">Wintermodus starten</button>
            <button id="wintermodus_beenden">Wintermodus beenden</button>
            <script src="/static/changebackground.js"></script>
    </header>

    <main>
        <form action="/query" method="POST">
            <label for="initials">Initialen:</label>
            <input type="text" id="initialsInput" name="initials" list="initialsList" required>
            <datalist id="initialsList">
                <option value="AA"> 
                <option value="BL"> 
                <option value="KA"> 
                <option value="PL"> 
                <option value="SH"> 
                <option value="SL"> 
            </datalist>

            <label for="license-plate">Kennzeichen:</label>
            <input type="text" id="license-plate" name="license-plate" oninput="updateLicensePlateOptions()" required>

            <label for="date-from">Datum von:</label>
            <input type="date" id="date-from" name="date-from">

            <label for="date-to">Datum bis:</label>
            <input type="date" id="date-to" name="date-to">

            <input class="ownbutton" type="submit" name="such-button" value="Suchen" id="submit">
            <button type="button" onclick="clearFields()">Eingabe löschen</button>
        </form>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2023 wenn ich eine website hätte würde die hier stehen. All rights reserved.</p>
        </div>
    </footer>

    <script>
        const images = [
        'url("/static/winter-hike1.jpg")',
        'url("/static/winter-hike2.jpg")',
        'url("/static/winter-hike3.jpg")',
        'url("/static/winter-hike4.jpg")',
        'url("/static/winter-hike5.jpg")',
        'url("/static/winter-hike6.jpg")',
        'url("/static/winter-hike7.jpg")',
        'url("/static/winter-hike8.jpg")',
        'url("/static/winter-hike9.jpg")',
        'url("/static/winter-hike10.jpg")',
        'url("/static/winter-hike11.jpg")',
        'url("/static/winter-hike12.jpg")',
        'url("/static/winter-hike13.jpg")',
        ];

        const imageContainer = document.getElementById('image-container');

        images.forEach((imageSrc, index) => {
            const img = document.createElement('img');
            img.src = imageSrc;
            img.alt = `Winter Image ${index + 1}`;
            img.loading = 'lazy'; // Hier wird Lazy Loading aktiviert
            imageContainer.appendChild(img);
        });

        function clearFields() {
            document.getElementById('initialsInput').value = '';
            document.getElementById('license-plate').value = '';
            document.getElementById('date-from').value = '';
            document.getElementById('date-to').value = '';
        }

        function updateLicensePlateOptions() {
            var initialsInput = document.getElementById("initialsInput");
            var licensePlateInput = document.getElementById("license-plate");

            // Mapping von Initialen zu License Plate-Optionen
            var licensePlateOptions = {
                "AA": ["WITAA000", "WITAA333", "WITAA777", "WITAA888", "WITAA999"],
                "BL": ["WITBL444"],
                "KA": ["WITKA222", "WITKA666"],
                "PL": ["WITPL111"],
                "SH": ["WITSH555"],
                "SL": ["WITSL333"]
            };

            // Hole die ausgewählten Initialen
            var selectedInitials = initialsInput.value.toUpperCase();

            // Setze die License Plate-Optionen basierend auf den ausgewählten Initialen
            licensePlateInput.setAttribute("list", selectedInitials + "-options");
            var datalist = document.getElementById(selectedInitials + "-datalist");
            if (!datalist) {
                datalist = document.createElement("datalist");
                datalist.id = selectedInitials + "-options";

                // Füge Optionen hinzu
                licensePlateOptions[selectedInitials].forEach(function (option) {
                    var optionElement = document.createElement("option");
                    optionElement.value = option;
                    datalist.appendChild(optionElement);
                });

                document.body.appendChild(datalist);
            }
        }
    </script>

</body>

</html>
